streamlit>=1.32.0
pytest>=8.0.0
requests>=2.31.0
langchain>=0.1.9
langchain-core>=0.1.26
langchain-mistralai>=0.2.4
langchain-openai>=0.1.1
python-dotenv>=1.0.0
jira>=3.5.1
pandas>=2.2.0
numpy>=1.26.4
selenium>=4.10.0
webdriver-manager>=3.8.6
